@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER 
/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
1200 - 1800px:  Desktop (normal styling apply)
1800px + :      Big Desktop

$breakpoint arguments:
-phone
-tablet-portrait
-tablet-landscape
-large-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px
    }
    @if $breakpoint == tablet-portrait {
        @media (max-width: 56.25em) { @content }; // 900px
    }
    @if $breakpoint == tablet-landscape {
        @media (max-width: 75em) { @content }; // 1200px
    }
    @if $breakpoint == large-desktop {
        @media (min-width: 112.5em) { @content }; // 1800px
    }
}